body{
overflow-x:hidden;
}


img{
	width:100%;
	height:100%;
	object-fit:cover;
} 


/*******video*********/

.video-wrap{
	position:relative;
	height:860px;
	overflow:hidden;

}

.nav{
	font-size:14px;
	width:100%;
	z-index:3;
	position:absolute;
	padding:0;
	display:flex;
	justify-content:space-between;

}

.nav-link{
	display: flex;
	justify-content:flex-end;
	padding:0;
	
}

.nav-link div{
	color:white;
	padding:33px 16px;
	vertical-align:middle;
	display: table-cell;
	
}

.nav-link div:hover{
	border-bottom:2px solid white;
}

.nav-img{
	width:32px;
	height:35px;
	margin:24px;
}

.nav-img img{
	width:100%;
	height:100%;
}


video{
	width:100%;
	height:100%;
	object-fit:cover;
	z-index:1;
	position:absolute;
	
}


.video-sentence{
	width:510px;
	z-index:2;
	position:absolute;
	color:white;
	margin:200px 0 0 15%;
	font-weight:bold;
}

.video-sentence a{
color:white;
font-weight:bold;
}

.video-sentence p{
	margin-bottom:10px;
}
.video-sentence p:last-child{
	margin-top:10px;
	font-weight:normal;
	}

.vs-1{
	font-size:46px;
	
	line-height:50px;
}
#vs-2{
	margin:16px 0 32px 0;
}


input[type="text"]:focus {
  outline: 0;
}


.ip-form{
	display:flex;

}



.f-left input{
	height:56.4px;
	padding:15px;
	border:none;
	border-radius:3px 0 0 3px;
	width:100%;
}

.f-right{
	height:56.4px;
	border-radius:0 3px 3px 0;
	background-color:white;
	padding:10px 15px;
}

.f-right input{
	background-color: rgba(0, 132, 137, 0.3);
	font-size:14px;
	color:white;
	font-weight: bold;
	border:none;
	border-radius:3px;
	padding:6px 15px;
	width:172px;
	height:35.6px;
}


	


.video-sentence2-1,.video-sentence2-2{
	display:none;
}

@media screen and (max-width:1127px){
	.video-wrap{
	height:636px;
	}

	#vs-2{
	margin:32px 0 32px;
	}
	.video-sentence{
	margin:160px 0 0 8%;
	}
}


@media screen and (max-width:743px){
	.video-wrap{
	height:540px;
	}
	.video-sentence{
	display:none;
	}

	.video-sentence2-1,.video-sentence2-2{
	display:block;
	}

	.video-sentence2-1{
	z-index:2;
	height:540px;
	position:absolute;
	color:white;
	font-weight:bold;
	display:flex;
	align-items:flex-end;

	}

	.video-sentence2-1 a{
		color:white;
	}
	.vs-1{
		font-size:32px;
	}
	#vs-2{
	margin:16px 0 32px;
	}

	.vs21-w{
		margin:0 64px 0 32px;
	}

	.video-sentence2-2{
		margin:32px 16px 0 16px ;
		padding-bottom:32px;
		border-bottom:1px solid rgb(235, 235, 235);

	}
	.video-sentence2-2 p{
		color:#484848;
		margin:0;

	}
	.video-sentence2-2 a{
		color:#008489;
	}

	.vs22w{
		margin:0 16px 32px;
	}

	.vs22w p{
		margin-bottom:8px;
		font-weight:bold;
		color:#484848;
	}

	.ip-form{
		width:90%;
		max-width:410px;
		border:1px solid rgb(235, 235, 235);
		border-radius:3px;
	}


	



}



/*************************************main***********************************************/

.main1-wrap{
	margin:96px auto;
	width:80%;


}

#midashi1{
	font-size:46px;
	text-align: center;
	color:#484848;
	padding:8px;
	margin:48px 0 16px;
}

.main1{
	display:flex;
	justify-content:center;
	height:465.33px;

}

.m1-img-ww{
 width:33.3333%;
}


.m1-img-wrap{
	
	height:416.666px;
	padding:0 8px;
}

.m1-img-ww p{
	margin:16px auto 0;
	padding:0 8px;
	text-align: center;
	font-size:18px;
	color:#484848;
	width:70%;
}

@media screen and (max-width:1440px){
	#midashi1{
		font-size:32px;
	}
	.m1-img-wrap{
		height:333.328px;
	}
}



@media screen and (max-width:1127px){
	.m1-img-ww p{
	width:100%;
	}

}


@media screen and (max-width:743px){

	.main1-wrap{
	margin:0 16px;
	width:auto;
	border-bottom:1px solid rgb(235,235,235);


	}
	#midashi1{
	font-size:24px;
	padding:2px;
	}
	.main1{
	display:block;
	height:auto;
	}
	.m1-img-ww{
	width:100%;
	}
	.m1-img-ww p{
	margin:16px 0 32px;

	}
	.m1-img-wrap{
	height:380px;
	padding:0;
	}
	
}
/*************************************main2***********************************************/

.main2{
	color:#484848;
}

.main2-c{
	display:flex;
	margin:16px 8px;
}
.m2-img-wrap{
	width:41.6667%;
	padding:0 8px;
	height:625px;
}

.m2-back{
	height:625px;
	display:flex;
	background-color: rgb(235, 235, 235);
	margin:0 8px;

	
}


.m2-sblock{
	width:54%;
	margin:auto;

}
.m2-midashi{
	font-size:46px;
	padding:8px 0;
}
.m2-sentence{
	font-size:18px;
	margin-bottom:16px;
}

.main2-c a{
	font-size:16px;
	color:#008489;
}

.m2-s-middle{
	color:white;
	background-color:rgb(0, 108, 112);
}
.m2-s-middle a{
	color:white;
}

@media screen and (max-width:1440px){
.m2-midashi{
	font-size:32px;
	}
.m2-img-wrap{
	height:500px;
	}
.m2-back{
	height:500px;
	}

.m2-img-wrap{
	width:58.3333%;
	}
.m2-sblock{
	width:62%;

	}
}

@media screen and (max-width:1127px){
	.m2-sblock{
	width:80%;
	}

}

@media screen and (max-width:743px){
	.main2-c{
		flex-direction:column-reverse;
		margin:16px 0;
		
	}

	.m2c-second{
		flex-direction:column;
	}

	.m2-back{
		margin:0;
	}

	.m2-s-middle{
		height:auto;
		margin-bottom:16px;
	}
	.m2-s-top,.m2-s-bottom{
		height:auto;
		background-color:white;
		margin:0;

	}
	.m2-midashi{
	font-size:24px;
	padding:2px 0;
	margin-bottom:16px;
	}
	.m2-sblock{
	margin:32px auto;
	}
	.m2-sentence{
	font-size:14px;
	}
	.m2-img-wrap{
	width:auto;
	padding:0 16px;
	height:380px;
	}

}




/*************************************main3***********************************************/
.main3{
	height:310px;
	margin:96px 0;
	background-color:rgb(0, 108, 112);
	color:white;
	display:flex;
}

.main3 a{
	color:white;
}


.m3c-wrap{
	display:flex;
	width:625px;
}
.m3w-left{
	justify-content:flex-end;
}


.m3-midashi{
	font-size:32px;
	padding:6px 0;
	margin-bottom:8px;
	line-height:36px;
}

.m3-c{
	width:398.39px;
	margin:auto 76.2031px;
}
.m3-c-right{
	margin-left:150px;
}

.m3-c-s{
	font-size:18px;
	margin-bottom:16px;
}

@media screen and (max-width:1440px){
	.m3-c-right{
	margin-left:70px;
	}

	.m3-c{
	width:355.59px;
	}
}


@media screen and (max-width:1127px){
	.main3{
	display:block;
	height:549px;
	margin:64px 0;
	}
	.m3c-wrap{
	margin:0 auto;
	justify-content:center;
	height:274.5px;
	width:664px;
	}
	.m3w-left{
		border-bottom:1px solid white;

	}
	.m3-c{
	width:75%;
	margin:auto;
	}


}

@media screen and (max-width:743px){

	.main3{
	height:auto;
	margin:0;
	}

	.m3-midashi{
	font-size:24px;
	padding:2px 0;
	margin-bottom:8px;
	line-height:30px;
	}

	.m3-c{
	margin:64px auto;
	}

	.m3-c-s{
	font-size:14px;
	}

	.m3c-wrap{
		height:auto;
		width:90%;
	}


}



/*************************************main4***********************************************/

.main4{
	color:#484848;
	width:80%;
	height:625px;
	display:flex;
	margin:0 auto;
}

.m4-c-wrap{
	background-color:rgb(235, 235, 235);
	display:flex;
	

}

.m4-img-wrap{
	height:625px;
}

.m4-c{
	margin:auto;
	width:60%;
	
}

.m4-sentence{
	font-size:24px;
	line-height:48px;
	margin-bottom:24px;

}
#marta{
font-weight:bold;

}

@media screen and (max-width:1440px){

	.main4{
		height:500px;
	}

	.m4-img-wrap{
	height:500px;
	}
	.m4-sentence{
	font-size:20px;
	line-height:40px;
	}

}


@media screen and (max-width:1127px){


	.m4-sentence{
		font-size:18px;
		line-height:26px;
	}

}

@media screen and (max-width:743px){
	.main4{
	width:auto;
	height:auto;
	display:block;
	margin:0 ;
	}
	.m4-img-wrap{
	max-width:596px;
	height:380px;
	margin:16px 0;
	}

	.m4-c{
	margin:64px auto;
	}
	.m4-sentence{
	font-size:14px;
	line-height:20px;
	margin-bottom:16px;
	}
}

/*************************************main5***********************************************/


.main5{
	color:#484848;
	margin:96px 0 0;
	display:flex;
	height:446px;
	padding:0 48px;
	background-color:rgb(235, 235, 235);
}

.main5 a{
	color:#484848;
}

.m5-c-wrap{
	margin:auto;


}

.m5-midashi{
	font-size:46px;
	padding:0 8px;
}

.m5-c-up{
	margin:16px auto;
	padding-bottom: 48px;
	font-weight: bold;
	width:450px;
	border-bottom:1px solid rgba(72, 72, 72,0.1);
}

.m5-c-up a:hover{
	text-decoration:none;

}


.m5-f-left {

	width:100%;
}

.m5-f-left input{
	width:100%;
}


.m5-c-down{
	margin-top:48px;
	text-align:center;
}

#m5-cd-first{
	font-weight:bold;
}

#m5-cd-sec{
	margin:8px 0 ;
}

.m5-c-down a{
 font-size:14px;
 color:rgb(0, 132, 137);
}


@media screen and (max-width:1440px){
	.m5-midashi{
		font-size:32px;

	}

	.main5{
		margin-top:64px;
	}
}

@media screen and (max-width:743px){
	.main5{
		margin:16px 0 0;
		height:auto;
		padding:32px 24px;
	}
	.m5-midashi{
		font-size:24px;
		text-align:center;
	}
	.m5-f-left input{
		width:100%;
	}
	.m5-c-wrap{
	margin:0 auto;
	}
	.m5-c-up{
		text-align:center;
		width:auto;
		max-width:450px;
	}
	.m5-ip{
		margin:0 auto;
	}
}

/*************************************footer***********************************************/

.footer{
 border-top:1px solid rgb(221, 221, 221);
 background-color: rgb(247, 247, 247);
 font-size:14px;



}

.ft-in{
	margin:0 auto;
	padding:0 80px;
	max-width:1440px;


}


.footer-contents{
	margin:0 auto;
	padding:48px 0;
	display:flex;
}

.footer-contents h3{
	color:#484848;
	font-size:12px;
	font-weight:bold;

}

 .footer-contents a{
	color:#484848;
	font-size:14px;

 }

.ft-c.ft-c ul {
	padding:0;
	margin-bottom:12px;
}

.ft-c div{
	margin-top: 16px;
	text-align:none;
}
.ft-c li {
	list-style:none;
	margin-top: 16px;
	text-align:none;
	}


 .last-footer{

 	padding:24px 0;
 	border-top:1px solid rgb(221, 221, 221);
 	color:#484848;
 	display: flex;
 	justify-content: space-between;
 	flex-direction:row-reverse;
 	
 }

.last-footer a{
color:#484848;
}

.last-footer object{
	pointer-events: none;

}



.lf-left span{
	display:inline-block;
	width:19px;
	text-align: center;
}

#kankocho{
	display:block;
	width:600px;
	text-align:left;
	
}

.lf-right {
	font-weight:bold;
	text-decoration: underline;
	display:flex;

}


.gengo{
	margin-right:30px;
}

.last-footer a:hover{
	color:lightgrey;
}

.sns-icon{
	display:flex;
	margin-left:14px;

}

.snss{
	margin-left:18px;
}

@media screen and (max-width:1200px ){

	.footer-contents{
		display:block;
		padding:48px 0 0;
	}
	.ft-in{
	padding:0 40px;
	}

	.ft-c{
		margin-bottom:24px;
		padding-bottom:12px;
		border-bottom:1px solid rgb(221, 221, 221);
	}

	.ft-c ul {
		display: flex;
		width:100%;
		margin-bottom:10px;
		
	}
	.ft-c li{
		padding:0 24px 0 0;
		margin:0;
		width:33.33333%;
		}

	.last-footer{
	display:block;
	border:none;
	}


	.lf-right ,.lf-left{
		width:650px;
		margin:0 auto;
		text-align:center;
		justify-content: center;
		}
	#privacy span:first-child{
		display:none;
	
	}

	#kankocho{
	display:inline;

	
	
}

@media screen and (max-width: 767px){
	.footer-contents{
		display:flex;
		flex-direction:column;
		padding-top:32px;
	}
	.ft-c{
		padding:0 0 20px;
	}
	.ft-c ul {
		display: block;
	}
	.ft-c li {
	margin-top: 10px;
	width:100%;
	}
	.ft-in{
	padding:0 24px;
	}


	.lf-right,.lf-left{
	text-align:left;
	justify-content:flex-start;
	width:100%;
	}

	.lf-left{
		margin-top:16px;

	}

	.sns-icon{
		display:none;
	}
}

