body{
	overflow-x: hidden;

	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}	




.head-contents{
	margin:0 5%;
	position:relative;
}

.komidashi{
	font:bold 24px Circular;
	color:#484848 ;
}

p{
	color:#484848;
	line-height:30px;
}

h1{
	text-align:center;
	font-size:60px;
	font-weight:bold;
	border-top:solid 1px grey;
	padding:30px 0;
}
@media screen and (max-width:1200px){
	h1{
		font-size:40px;
	}
}





@media screen and (max-width:767px)
{
	.container{
		margin:0;
		padding:0;
		max-width:1000px;
	}
	.head-contents{
		margin:0 3%;
	}
	h1 {
		text-align: left;

	}

}



/***************navigationber**************************/

.navbar{
	width:100%;
	padding:8px 5% ;
	height:110px;
	position:fixed;
	z-index:30;
	box-shadow:0px 10px 10px -10px rgba(0,0,0,0.1) ;
	background-color:white;

}

.navbar-brand{

    border-radius:50%;
 
}
   


.navbar-brand:hover{
	opacity: 0.5 ;
}

.navbar-brand img{
width:30px;
height:30px;

}
.nav-item{
	padding:0 24px 0 0;
	font-weight: bold;
}
.active{
	margin-left:23px;
}

/*headform*/

.forming{
	padding:110px 5%;

	background-color:white;
}




@media screen and (max-width: 1200px){
	.forming{
		padding-bottom:50px;

	}
}

.headform-img{
display:block;
width:100%;
height:100%;
max-height:680px;
border-radius:16px;
object-fit:cover;
}




@media screen and (max-width:767px){

	.navbar{
		height:70px;
		position:absolute;
		box-shadow:none ;
	}
	.forming{
	padding:70px 3% 0;
	margin-bottom:20px;

}
}

/************************hosting-block*************************/

.hosting-block{
	height:482px;
	display:flex;
	justify-content: flex-end;
	margin:-400px 0 60px 0;


}


.white-back{
	width:936px;
	background-color:white;
	display:flex;
	border-radius:16px;
	box-shadow:0 6px 20px rgba(0,0,0,0.1);
	margin-right:2%;
	padding:0;
}

@media screen and (max-width:1200px){

.hosting-block {
		margin:-150px 0 0 0;
		padding:0;
		justify-content:center;
	}

.white-back{
		width:100%;
		margin:0 1%;
	}

}


@media screen and (max-width:767px){

.hosting-block {
	margin:0;
	display:block;
	height:100%;
	}
.white-back{
	display:block;
	box-shadow:none;
	margin:0;
}


}

/*******fukuoka(white-back-left)*************/


.fukuoka{
	line-height: 48px;
	font-size:42px;
	font-weight:bold;
	padding:48px 40px 0 48px;
	border-right:1px solid #ebebeb;
}
.fukuoka span{
	color:rgb(228, 30, 87);
}
.fukuoka a{
	display:inline-block;
	color:#222222;
	text-decoration:underline;
	font-size:14px;
}




.form{
	margin-bottom:24px;
	padding:0 48px;
	overflow-y:scroll;
}

@media screen and (max-width:1200px){
	.fukuoka{
		font-size:32px;
		padding:40px 16px 0 22px ;
	}

	.form{
		padding:0 32px;
	}
}



@media screen and (max-width:767px){
	.fukuoka{
		padding:24px 0 40px 0;
		border-right:none;
		line-height: 40px;
		border-bottom:1px solid rgb(235, 235, 235);
	}
	.form{
		padding:0 ;
		overflow-y:visible;
		margin-bottom:50px;
	}
}


/************yoso(white-back-right)****************/

.yoso-hosting{
	padding:0;
	
}
.yoso{
	margin:48px 0 32px ;
	font-size:18px;
}


.nyuuryoku{
	height:56px;
	width:100%;
	padding:11px;


}

.n-select{
	border-top:none;
}
	

}
.nyuuryoku:last-child{
	border-radius:0 0 10px 10px;
	}
.gesuto{
margin:0 0 0 6px;
font-size:14px;
font-weight:  bold ;
}


.listing{
	
	padding:0 48px;
}

.listing button{
font-weight:bold;
}



@media screen and (max-width:1200px){
	.yoso{
		margin:32px 0 ;
	}
	.gesuto{
		margin:10px 0 0 6px;
	}
}



@media screen and (max-width:767px){
	.gesuto{
		margin:15px 0 0 0;
	}
	.listing{
		padding:0;
	}
	.nyuuryoku{
		font-size:18px;
	}
}












/*本文内容(main)*/

.first-content,.second-content,.third-content,.forth-content,.fifth-content
,.sixth-content,.seventh-content,.eighth-content{
	display: flex;
	margin:0 0 110px 0 ;
}


@media screen and (max-width:1200px){
	.first-content{
		display:block;
		margin-bottom:90px;
	}
}

.main p{
	margin:16px 0;
}
.group{
	margin:0 64px 0 0;
}

@media screen and (max-width:1200px){
	.group{
		margin:0 auto 40px;
	}
}

.second-content{
	display: flex;
	margin:0 0 110px 0 ;
}

.second-content p{
	margin-right:37px;
}

@media screen and (max-width:1200px){
	.second-content{
		display:block;
		
	}
	.sc{
		margin:0 auto;
	}
}

/*********third-content***********/

.third-content img{
	width:516px;
	height:516px;
	padding:0;


}


.sentence-beside-image{
	font-size:32px;
	line-height: 40px;
}







.third-content span{
	display:block;
	font-size:100px;
	font-weight:bold;
	color: #FDB32B;
	line-height: 30px;
}



.third-sentence{
	padding-right:100px;
}




.third-sentence button{
	font-weight:bold;
	height:48px;
	width:224px;
	border:2px solid ;
}


@media screen and (max-width:1200px){

	.third-content img{
		width:324px;
		height:324px;
	}


	.third-content{
	 margin:0 auto 110px;
	 padding:0;
	}



	.sentence-beside-image{
		font-size:18px;
		line-height:25px;
	}


	.sentence-beside-image2{
		font-size:14px;
		line-height:20px;
	}

		.third-content span{
		font-size:60px;
		line-height: 15px;

	}

		.third-sentence{
			padding-right:30px;
			padding-left:0;
	}

}


@media screen and (max-width:767px){

	.third-content {
		flex-direction:column-reverse;
		padding:0;
		margin-bottom:80px;
	}
	.third-content img{
		width:100%;
		height:100%;
	}
	.third-img{
		padding:0 0 10px;
	}


}






.forth-content,
.fifth-content, 
.seventh-content,
.eighth-content,
.ninth-content,
{
	padding-top:30px;
}



.forth-left{
	padding:0 100px 0 24px;
}


.forth-right div{
	margin-bottom:20px;
}
.forth-right object{
	margin-right:10px;
}


@media screen and (max-width:1200px){


	.forth-content{
	display:block;
	}

	.forth-left{
		margin:0 auto 32px;
		padding:0 24px;
	}

	.forth-right{
		margin:0 auto;
	}
	#bed-making{
		margin:0 auto;
		width:648px;
		height:411px;
		object-fit:cover;
		display:block;
	}
}

@media screen and (max-width:767px){
	.forth-left,.forth-right{
		padding:0;
	}

	#bed-making{
		padding:0;
		width:100%;
		height:auto;

	}


}







.fifth-section{
	margin-top:150px;
}



@media screen and (max-width: 1200px){
	.fifth-content{
		display: block;
	}
	.fc{
		margin:10px auto 50px;
		padding:0 30px;
	}
}

@media screen and (max-width:767px){
	.fc{
		padding:0;
	}
}



.sixth-content{
margin-bottom:150px;
}

.sixth-content span{
	display:block;
	font-size:100px;
	font-weight:bold;
	color: #FDB32B;
	line-height: 30px;

}



.six-right{
display:flex;
align-items:center;
padding:0 50px 0 70px;
}

.six-right button{
	font-weight:bold;
	height:48px;
	width:224px;
	border:2px solid ;
}





@media screen and (max-width:1200px){
	.sixth-content{
   margin:0 auto 150px;
   padding:0;
	}


	.sixth-content span{
	font-size:60px;
	line-height: 15px;
	}


	.sixth-content img{
	width:324px;
	height:324px;
	display:block;
	}

	.six-right{
		padding:0 15px 0 30px;
	}

}

@media screen and (max-width:767px){
		.sixth-content{
		display:block;
	}
	.sixth-content img{
	width:100%;
	height:100%;
	}

	.six-right,.six-left{
	padding:0;
	}
	.six-right{
	margin-top:10px;
	}

	.sixth-content{
   	margin:0 auto 100px;
   }
}






.seventh-left{

	padding:0 90px 0 24px;
}

.seventh-right{

	padding:0 100px 0 10px;
}


@media screen and (max-width: 1200px){
	.seventh-content{
		display:block;
}

.seventh-left,.seventh-right{
	margin:0 auto 40px;
	padding:0;
}

}






.eighth-content{
	font-size:18px;
	
}

.eighth-left{

	padding:0 8px 0 0;
}

.eighth-right{
 padding:0;
}

.eighth-left div,.eighth-right div{

	padding:24px 0;
	border-bottom:1px solid #EBEBEB ;
}

.eighth-content a{
color:rgb(0, 132, 137);
}

@media screen and (max-width: 1200px){
	.eighth-content{
		display:block;
		margin:0 0 80px;
	}
	.eighth-content a{
		font-size:16px;
	}
	.eighth-left,.eighth-right{
		margin:0 auto;
	}
}

.ninth-content{
	display:flex;


	
	
}

.ninth-content a{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}


.ninth-left,.ninth-center,.ninth-right{
	position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */
	padding:0;

	
}

.ninth-content p{
	margin:0;
	font-size:14px;

}

.syousai{

	color:rgb(0, 132, 137);
	
}

.nin-midashi{
	margin-top:15px;
	font-size:14px;
	font-weight:bold;
	color:#484848;
}



@media screen and (max-width:1200px){
	.ninth-content{
		margin:20px auto 0;
	}
	#n-midashi{
		margin:0 auto;
	}
	.syousai{
		display:none;
	}
	.nin-sentence{
		margin:0 15px 5px;
	}
	.ninth-left,.ninth-center,.ninth-right{
	border:1px solid rgba(0,0,0,0.1) ;
	box-shadow:0 2px 4px 0 rgba(0,0,0,0.06);
	}

}


@media screen and (max-width: 767px){
	.ninth-content{
		display:block;
	}

	.ninth-left,.ninth-center,.ninth-right{
		display:flex;
		margin-bottom:20px;
		height:200px;
		height:76px;

	}

	.nin-image{
		height:76px;
		width:76px;
		object-fit: cover;
	}
	.ninth-content img{
		object-fit: cover;
	}
}






.tenth-content{
	margin:80px auto 64px;
	height:440px;
	max-width:1280px;
	background-image:url('img/hanaue.jpg');
	background-size:cover;
	background-position:center;
	background-origin:border-box;
}

.tenth-centence{
	padding:96px 24px 8px;
	margin:0 auto;
	width:90%;
}

#shueki{
	font-size:60px;
	font-weight:bold;
	color:white;
	line-height:64px;
}

.tenth-centence button{
	font-weight:bold;
	border:none;
	border-radius:3px;
	padding:10px 22px;
	color:#484848;
	background-color:white;
	margin-top:32px;

}

@media screen and (max-width:1200px){


	#shueki{
		font-size:40px;
		line-height:40px
	}
}

@media screen and (max-width:767px){
	.tenth-centence{
		width:360px;
		margin-left:2%;
	}
}


/**************footer******************/

.footer{
 border-top:1px solid rgb(221, 221, 221);
 background-color: rgb(247, 247, 247);
 font-size:14px;



}

.ft-in{
	margin:0 auto;
	padding:0 80px;
	max-width:1440px;


}


.footer-contents{
	margin:0 auto;
	padding:48px 0;
	display:flex;
}

.footer-contents h3{
	color:#484848;
	font-size:12px;
	font-weight:bold;

}

 .footer-contents a{
	color:#484848;
	font-size:14px;

 }

.ft-c.ft-c ul {
	padding:0;
	margin-bottom:12px;
}

.ft-c div{
	margin-top: 16px;
	text-align:none;
}
.ft-c li {
	list-style:none;
	margin-top: 16px;
	text-align:none;
	}


 .last-footer{

 	padding:24px 0;
 	border-top:1px solid rgb(221, 221, 221);
 	color:#484848;
 	display: flex;
 	justify-content: space-between;
 	flex-direction:row-reverse;
 	
 }

.last-footer a{
color:#484848;
}

.last-footer object{
	pointer-events: none;

}



.lf-left span{
	display:inline-block;
	width:19px;
	text-align: center;
}

#kankocho{
	display:block;
	width:600px;
	text-align:left;
	
}

.lf-right {
	font-weight:bold;
	text-decoration: underline;
	display:flex;

}


.gengo{
	margin-right:30px;
}

.last-footer a:hover{
	color:lightgrey;
}

.sns-icon{
	display:flex;
	margin-left:14px;

}

.snss{
	margin-left:18px;
}

@media screen and (max-width:1200px ){

	.footer-contents{
		display:block;
		padding:0 40px 0;
	}
	.ft-in{
	padding:0 40px;
	}

	.ft-c{
		margin-bottom:24px;
		padding-bottom:12px;
		border-bottom:1px solid rgb(221, 221, 221);
	}

	.ft-c ul {
		display: flex;
		width:100%;
		margin-bottom:10px;
		
	}
	.ft-c li{
		padding:0 24px 0 0;
		margin:0;
		width:33.33333%;
		}

	.last-footer{
	display:block;
	border:none;
	}


	.lf-right ,.lf-left{
		width:650px;
		margin:0 auto;
		text-align:center;
		justify-content: center;
		}
	#privacy span:first-child{
		display:none;
	
	}

	#kankocho{
	display:inline;

	
	
}

@media screen and (max-width: 767px){
	.footer-contents{
		display:flex;
		flex-direction:column;
		padding-top:32px;
	}
	.ft-c{
		padding:0 0 20px;
	}
	.ft-c ul {
		display: block;
	}
	.ft-c li {
	margin-top: 10px;
	width:100%;
	}
	.ft-in{
	padding:0 24px;
	}


	.lf-right,.lf-left{
	text-align:left;
	justify-content:flex-start;
	width:100%;
	}

	.lf-left{
		margin-top:16px;

	}

	.sns-icon{
		display:none;
	}
}

