body{
	font-family:"UD デジタル 教科書体 NK-R","Meiryo", "Hiragino Kaku Gothic Pro", sans-serif;
	overflow-x: hidden;
}

h1{
	font-size:60px;
	text-align:center;
	padding-bottom:80px;
}
h1>span{
	border-right:5px solid red;
	margin-right:20px;
}


header{
	position:relative;
	height:80px;
	color:white;
}



.header-list{
width:100%;
height:80px;
position:fixed;
z-index:20;
background-color:black;
display:flex;
box-shadow:0 1px 2px 1px #D5D5D5;

}

.header-logo{
	margin:10px 10px 10px 20px;

}

.header-logo img{
	width:200px;
	margin:5% 0;


	

}

.header-list ul{
	display:flex;
	margin-top:15px;
	margin-bottom:0;
	width:100%;
	padding:0;
}

.ul-wrap{
	display:flex;
	margin:0 0 0 auto;
}


.header-list li{
	
	list-style: none;
	padding:10px 30px 27px;
	font-size: 17px ;
	font-weight:bold;


}

.header-list li:hover{
	color:#ffd700;
	border-bottom:1px solid #ffd700;

	}
.header-list li>a:link{
	color:inherit;
	text-decoration: none;
}
.header-list li>a:visited{
	color:inherit;
}

#hamburger{
	display:none;
}


@media screen and (max-width:991px){

	.header-logo img{
	width:150px;
	margin:10% 0;
	}

	.header-list ul{
		
		margin:0;
		width:80%;
	}
	.ul-wrap{
		position:absolute;
		right:0;
		right:-40%;
		display:block;
		width:40%;
		background-color:black;
		border:1px solid #EAEAEA;
		height:330px;
		transition: .7s;
	}

	.header-list li{
	padding:20px 30px ;

	}
	#hamburger {
	  display: block;
	  position: absolute;
	  top: 23.5px;
	  right: 30px;
	  width: 40px;
	  height: 33px;
	  cursor: pointer;
	  transition: 1s;
	}

	.inner_line {
	  display: block;
	  position: absolute;
	  left: 0;
	  width: 40px;
	  height: 3px;
	  background-color: #7F7F7F;
	  transition: 1s;
	  border-radius: 4px;
	}
	#line1 {
	  top: 0px;
	}
	#line2 {
	  top: 15px;
	}
	#line3 {
	  bottom: 0px;
	}

	.in{
  transform: translateX(-100%);
	}
	.line_1,.line_2,.line_3{
	  background: white;
	}
	.line_1 {
	  transform:translateY(15px) rotate(-45deg);
	  top: 0;
	}
	.line_2 {
	  opacity: 0;
	}
	.line_3 {
	  /*45度回転させる*/
	  transform:translateY(-15px) rotate(45deg);
	  bottom: 0;
	}
}

@media screen and (max-width:991px){
	.ul-wrap{
		right:-100%;
		width:100%;
	}

}

/*****************main0*****************/

.main0{
	color:white;
	background-image:url('pachisimImg/fire.jpg');
	background-size:cover;
	height:800px;
}

.m0-s-wrap{
	height:100%;
	display:flex;
}
.m0-sentence{
	margin:auto;
	text-align:center;
}
.m0-sentence div{
	font-size:30px;
}
.m0-sentence h1{
	margin:20px 0;
	color:red;
	font-size:50px;
	font-weight:bold;
}

input{
	margin-top:20px;
	height:100px;
	width:400px;
	font-size:26px;
	font-weight:bold;
	background-color:#F0933E;
	border-radius:10px;
	border:3px solid #fe5a00;
	outline:none;
}


@media screen and (max-width:991px){
	.main0{
		height:600px;
	}
	.m0-sentence h1{
		font-size:35px;
	}
	.m0-sentence div{
	font-size:22px;
	}

	input{
	height:80px;
	width:300px;
	font-size:22px;
	}
}

/********************main1********************/

.main1{
	margin:-150px 0 0 0 ;
	padding-top:300px;
}

.m1w{
	display:flex;
}

.main1 img{
	width:100%;
	height:100%;
}
.m1-right{
	font-size:20px;
	padding:0 6%;

}

.m1-right div{
	margin-top:7px;
}
.m1-right div:first-child{
	margin:0;
}

#use{
	margin-top:30px;
}

@media screen and (max-width:991px){
	h1{
		padding-bottom:40px;
		font-size:30px;
	}
	.m1w{
		display:block;
	}
	.m1-right div{
	margin-top:5px;
}

	.m1-right{
		margin-top:40px;
		font-size:16px;
	}
}

/********************main2********************/

.main2{
	margin:-150px 0 0 0 ;
	padding-top:300px;
}
.m2w{
	display:flex;
	flex-direction:row-reverse;
}

.main2 img{
	width:100%;
	height:100%;
	object-fit:cover;
}
.m2-right{
	padding:0 6%;
}

.m2-right p{
font-size:20px;
line-height:35px;

}

.m2-right h2{
	text-align: center;
	margin-bottom:30px;
}

@media screen and (max-width:991px){
	.m2w{
		display:block;
	}
	.m2-right{
		margin-top:40px;
	}
	.m2-right h2{
		font-size:22px;
	}
	.m2-right p{
		font-size:16px;
		line-height:30px;
	}
}


/********************main3********************/

.main3{
	margin:-150px 0 80px 0 ;
	padding-top:300px;
}

.main3 img{
	width:100%;
	height:100%;
	object-fit:cover;
}

.m3w{
	display:flex;
}

.m3-right{
	font-size:20px;
	padding:0 6%;
}
.m3-right div{
	margin-top:7px;
}

.m3-right div:nth-child(2){
	margin-top:30px;
}





.last-button{
	margin:20px 0 100px 0;
}

.last-button div{
	font-size:30px;
}

.last-button{
	text-align:center;
}

@media screen and (max-width:991px){
	.m3w{
		display:block;
	}
	.m3-right{
		margin-top:40px;
		font-size:16px;
	}
	.m3-right div{
	margin-top:5px;
	}

	.main1,.main2,.main3{
		margin:-20px 0 0 0 ;
		padding-top:120px;
	}
	.last-button div{
	font-size:22px;
}

}



/********************footer********************/
footer{
	height:200px;
	background-color:black;

	display:flex;
}

footer>ul {
	margin:auto 0;
	list-style: none;
	width:50%;
}

li>a{
	color:white;
}

@media screen and (max-width:991px){
	#ul-last{
		padding:0;
	}
}